This notebook accesses San Diego crime data downloaded with `download_latest_data.py` and organized by year with `separate_data_by_year.py`.

It counts the number of each type of crime each day, as done for other cities in usa-dashboard.

In [1]:
import pandas as pd
import numpy as np

# Dataframe

In [7]:
df = pd.DataFrame.from_csv('2016.txt', encoding='cp1252')
df.head()

,Charge_Description_Orig,activityDate,BLOCK_ADDRESS,ZipCode,community
agency,,,,,
NATIONAL CITY,BURGLARY/FIRST DEGREE,10/14/2016 7:00:00,2600 BLOCK PLAZA BOULEVARD,91950.0,NATIONAL CITY
NATIONAL CITY,PETTY THEFT,11/11/2016 12:00:00,3000 BLOCK PLAZA BONITA ROAD,91950.0,NATIONAL CITY
NATIONAL CITY,BURGLARY/SECOND DEGREE,11/20/2016 19:00:00,500 E BLOCK 02ND STREET,91950.0,NATIONAL CITY
NATIONAL CITY,PETTY THEFT,11/20/2016 12:00:00,1400 E BLOCK 06TH STREET,91950.0,NATIONAL CITY
NATIONAL CITY,BURGLARY/FIRST DEGREE,11/2/2016 19:00:00,2600 BLOCK PLAZA BOULEVARD,91950.0,NATIONAL CITY

In [10]:
# Extract information for each event: year, month, day, offense
N_records = len(df)
records_dict = {'year': [0]*N_records,
                'month': [0]*N_records,
                'day': [0]*N_records,
                'offense': df['Charge_Description_Orig'].values}

for i in range(N_records):
    date_list = df['activityDate'][i].split('/')
    records_dict['year'][i] = date_list[2].split(' ')[0]
    records_dict['month'][i] = date_list[0]
    records_dict['day'][i] = date_list[1]
    
# Organize data in dataframe
df_records = pd.DataFrame.from_dict(records_dict)

In [13]:
unique_months = np.unique(df_records['month'].values)
offenses = np.array(df_records['offense'].values,dtype=str)
unique_offenses = np.unique(offenses)

In [15]:
# Create the final crime dict for the 2016 data
unique_months = np.unique(df_records_2016['month'])
unique_offenses = np.unique(df_records_2016['offense'])

# Loop through each month
for m, month in enumerate(unique_months):
    # Loop through each day
    df_month = df_records_2016[df_records_2016['month']==month]
    unique_days = np.unique(df_month['day'])
    for d, day in enumerate(unique_days):
        # Loop through each offense
        for o, offense in enumerate(unique_offenses)

SyntaxError: invalid syntax (<ipython-input-15-17fb62f7fd99>, line 12)

In [17]:
# Format data to count the number of events that occured each day
df_records_2016.head(20)
# Filter by each year-month-day combination

   day month                                            offense  year
0   14    10                              BURGLARY/FIRST DEGREE  2016
1   11    11                                        PETTY THEFT  2016
2   20    11                             BURGLARY/SECOND DEGREE  2016
3   20    11                                        PETTY THEFT  2016
4    2    11                              BURGLARY/FIRST DEGREE  2016
5   10    11                             BURGLARY/SECOND DEGREE  2016
6    9    10     TAKE VEHICLE W/O OWNER'S CONSENT/VEHICLE THEFT  2016
7   16    10     TAKE VEHICLE W/O OWNER'S CONSENT/VEHICLE THEFT  2016
8   19    10                ATTEMPTED MURDER/DEGREE UNSPECIFIED  2016
9   31    10                             ROBBERY: SECOND DEGREE  2016
10  16    10     TAKE VEHICLE W/O OWNER'S CONSENT/VEHICLE THEFT  2016
11  17    12                               BURGLARY:UNSPECIFIED  2016
12  21     9                                  INDECENT EXPOSURE  2016
13   4    12  TAKE VEHICLE W/O OWNER'S CONSENT/VEHICLE THEFT...  2016
14   4    12              USE/UNDER INFL OF CONTROLLED SUBS (M)  2016
15   4    12             POSS CONTROLLED SUBS PARAPHERNALIA (M)  2016
16   4    12                                 SIMPLE BATTERY (M)  2016
17  17    11                           VANDALISM ($400 OR MORE)  2016
18  22    11                                        PETTY THEFT  2016
19  16    11             BATTERY WITH SERIOUS BODILY INJURY (F)  2016